{% extends "base.html" %}
{% block body %}
  <section class="small-container w-100 text-center" aria-label="Recognize result wrapper">
    <h3>Detection</h3>
    <img class="mb-4" src="{{base64_image}}" alt="submitted image" width="256" height="256">
    <h4 class="mb-3 fw-normal">
      <div>Freshness Percentage</div>
      <div aria-label="Persentase kesegaran">
        {{freshness_percentage}}% ({{freshness_label}})
      </div>
    </h4>
    <div class="py-4">
      <h4>Was this helpful?</h4>
      <div class="btn-group" role="group" aria-label="Konfirmasi checkout">
        <a href="/" class="btn btn-danger" autofocus>NO</a>
        <form action="/purchase" method="post">
          <button type="submit" class="btn btn-primary">YES</button>
        </form>
      </div>
    </div>
  </section>
{% endblock%}
